HOST=localhost
PORT=3001
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=ServBay.dev
DB_NAME=task_manager
IS_TESTING=false
DB_NAME_TEST=task_manager_test
JWT_SECRET=super_secret_development_key_123!
